src/transfer/service/QTransferWSImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.org/" name="TransferWS">
<wsp:Policy wsu:Id="QTransferWSImplPortBinding_MTOM_Policy-QTransferWSImplPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="www.google.com" schemaLocation="http://10.0.0.77:8080/TransferService/QTransferWSImpl?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://service.org/" schemaLocation="http://10.0.0.77:8080/TransferService/QTransferWSImpl?xsd=2" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://10.0.0.77:8080/TransferService/QTransferWSImpl?xsd=3" />
</xsd:schema>
</types>
<message name="GetBusinessFunctions">
<part name="parameters" element="tns:GetBusinessFunctions" />
</message>
<message name="GetBusinessFunctionsResponse">
<part name="parameters" element="tns:GetBusinessFunctionsResponse" />
</message>
<message name="InsertUploadInfo">
<part name="parameters" element="tns:InsertUploadInfo" />
</message>
<message name="InsertUploadInfoResponse">
<part name="parameters" element="tns:InsertUploadInfoResponse" />
</message>
<message name="GetTemplateMaps">
<part name="parameters" element="tns:GetTemplateMaps" />
</message>
<message name="GetTemplateMapsResponse">
<part name="parameters" element="tns:GetTemplateMapsResponse" />
</message>
<message name="GetTransferDatasV2">
<part name="parameters" element="tns:GetTransferDatasV2" />
</message>
<message name="GetTransferDatasV2Response">
<part name="parameters" element="tns:GetTransferDatasV2Response" />
</message>
<message name="GetWebSocketUri">
<part name="parameters" element="tns:GetWebSocketUri" />
</message>
<message name="GetWebSocketUriResponse">
<part name="parameters" element="tns:GetWebSocketUriResponse" />
</message>
<message name="ExtractTypes">
<part name="parameters" element="tns:ExtractTypes" />
</message>
<message name="ExtractTypesResponse">
<part name="parameters" element="tns:ExtractTypesResponse" />
</message>
<message name="GetBusinessInfo">
<part name="parameters" element="tns:GetBusinessInfo" />
</message>
<message name="GetBusinessInfoResponse">
<part name="parameters" element="tns:GetBusinessInfoResponse" />
</message>
<message name="GetTransferData">
<part name="parameters" element="tns:GetTransferData" />
</message>
<message name="GetTransferDataResponse">
<part name="parameters" element="tns:GetTransferDataResponse" />
</message>
<message name="GetSettings">
<part name="parameters" element="tns:GetSettings" />
</message>
<message name="GetSettingsResponse">
<part name="parameters" element="tns:GetSettingsResponse" />
</message>
<message name="Upload">
<part name="parameters" element="tns:Upload" />
</message>
<message name="UploadResponse">
<part name="parameters" element="tns:UploadResponse" />
</message>
<message name="Lock">
<part name="parameters" element="tns:Lock" />
</message>
<message name="LockResponse">
<part name="parameters" element="tns:LockResponse" />
</message>
<message name="Update">
<part name="parameters" element="tns:Update" />
</message>
<message name="UpdateResponse">
<part name="parameters" element="tns:UpdateResponse" />
</message>
<message name="Unlock">
<part name="parameters" element="tns:Unlock" />
</message>
<message name="UnlockResponse">
<part name="parameters" element="tns:UnlockResponse" />
</message>
<portType name="QTransferWS">
<operation name="GetBusinessFunctions">
<input wsam:Action="http://service.org/QTransferWS/GetBusinessFunctionsRequest" message="tns:GetBusinessFunctions" />
<output wsam:Action="http://service.org/QTransferWS/GetBusinessFunctionsResponse" message="tns:GetBusinessFunctionsResponse" />
</operation>
<operation name="InsertUploadInfo">
<input wsam:Action="http://service.org/QTransferWS/InsertUploadInfoRequest" message="tns:InsertUploadInfo" />
<output wsam:Action="http://service.org/QTransferWS/InsertUploadInfoResponse" message="tns:InsertUploadInfoResponse" />
</operation>
<operation name="GetTemplateMaps">
<input wsam:Action="http://service.org/QTransferWS/GetTemplateMapsRequest" message="tns:GetTemplateMaps" />
<output wsam:Action="http://service.org/QTransferWS/GetTemplateMapsResponse" message="tns:GetTemplateMapsResponse" />
</operation>
<operation name="GetTransferDatasV2">
<input wsam:Action="http://service.org/QTransferWS/GetTransferDatasV2Request" message="tns:GetTransferDatasV2" />
<output wsam:Action="http://service.org/QTransferWS/GetTransferDatasV2Response" message="tns:GetTransferDatasV2Response" />
</operation>
<operation name="GetWebSocketUri">
<input wsam:Action="http://service.org/QTransferWS/GetWebSocketUriRequest" message="tns:GetWebSocketUri" />
<output wsam:Action="http://service.org/QTransferWS/GetWebSocketUriResponse" message="tns:GetWebSocketUriResponse" />
</operation>
<operation name="ExtractTypes">
<input wsam:Action="http://service.org/QTransferWS/ExtractTypesRequest" message="tns:ExtractTypes" />
<output wsam:Action="http://service.org/QTransferWS/ExtractTypesResponse" message="tns:ExtractTypesResponse" />
</operation>
<operation name="GetBusinessInfo">
<input wsam:Action="http://service.org/QTransferWS/GetBusinessInfoRequest" message="tns:GetBusinessInfo" />
<output wsam:Action="http://service.org/QTransferWS/GetBusinessInfoResponse" message="tns:GetBusinessInfoResponse" />
</operation>
<operation name="GetTransferData">
<input wsam:Action="http://service.org/QTransferWS/GetTransferDataRequest" message="tns:GetTransferData" />
<output wsam:Action="http://service.org/QTransferWS/GetTransferDataResponse" message="tns:GetTransferDataResponse" />
</operation>
<operation name="GetSettings">
<input wsam:Action="http://service.org/QTransferWS/GetSettingsRequest" message="tns:GetSettings" />
<output wsam:Action="http://service.org/QTransferWS/GetSettingsResponse" message="tns:GetSettingsResponse" />
</operation>
<operation name="Upload">
<input wsam:Action="http://service.org/QTransferWS/UploadRequest" message="tns:Upload" />
<output wsam:Action="http://service.org/QTransferWS/UploadResponse" message="tns:UploadResponse" />
</operation>
<operation name="Lock">
<input wsam:Action="http://service.org/QTransferWS/LockRequest" message="tns:Lock" />
<output wsam:Action="http://service.org/QTransferWS/LockResponse" message="tns:LockResponse" />
</operation>
<operation name="Update">
<input wsam:Action="http://service.org/QTransferWS/UpdateRequest" message="tns:Update" />
<output wsam:Action="http://service.org/QTransferWS/UpdateResponse" message="tns:UpdateResponse" />
</operation>
<operation name="Unlock">
<input wsam:Action="http://service.org/QTransferWS/UnlockRequest" message="tns:Unlock" />
<output wsam:Action="http://service.org/QTransferWS/UnlockResponse" message="tns:UnlockResponse" />
</operation>
</portType>
<binding name="QTransferWSImplPortBinding" type="tns:QTransferWS">
<wsp:PolicyReference URI="#QTransferWSImplPortBinding_MTOM_Policy-QTransferWSImplPortBinding_MTOM_Policy" />
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="GetBusinessFunctions">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="InsertUploadInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetTemplateMaps">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetTransferDatasV2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetWebSocketUri">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="ExtractTypes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetBusinessInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetTransferData">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetSettings">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Upload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Lock">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="Unlock">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="TransferWS">
<port name="QTransferWSImplPort" binding="tns:QTransferWSImplPortBinding">
<soap:address location="http://10.0.0.77:8080/TransferService/QTransferWSImpl" />
</port>
</service>
</definitions>